#container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("https://media.istockphoto.com/id/1344031325/photo/set-of-foil-containers-with-different-prepared-meals-over-green-background.webp?b=1&s=170667a&w=0&k=20&c=U2zgbDJAxyi81peJcWuOMy2LaYGUsbClHbOWBC0-dIA=");
    background-size: cover;
    align-items: center;
}
#calculator{
    height: 100%;
    background-color: white;
    padding: 10px; 
}
h1{
    color: brown;
}
body{
    margin: 0;
    padding: 0;
}
#tip{
    text-align: center;
}
#input{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#btn{
    background-color: brown;
    font-size: 20px;
    padding: 8px;
    color: black;
}
label{
    color: brown;
    font-size: 18px;
}